@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Da+2&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* navigation css starts */
nav{
    background-color: rgb(21, 20, 23);
    display: flex;
    justify-content: center;
    align-items: center;

}

nav h1{
    color: white;
}

/* navigation css ends */


/* game container css starts */


.gameContainer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-top: 10px;

}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    margin-right: 15px;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: #f8e8ff;
    cursor: pointer;
}
/* game container css ends */

/* game info css starts */
.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhai 2', cursive;
    margin-right: 15px;
}

.imageBox img{
    /* display: none; */
    width: 0;
    transition: width 1s ease-in-out;
    padding: 15px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}



#reset{
    background: #3a96d2;
    font-size: 17px;
    padding: 3px 21px;
    margin: 0 10px;
    border: 2px solid #1a7bbb;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.info{
    font-size: 25px;
}


/* game info css ends */


/* media queyr for 700 */
@media screen and (max-width: 700px)
{
.gameContainer{
    /* background-color: red; */
    flex-wrap: wrap;
    margin: 0px;
    padding: 20px 0;
}

.gameInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameInfo h1{
    margin-top: 45px;
}

}


/* media queyr for 700 */

@media screen and (max-width: 700px){
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    
    }

    .gameInfo{
        padding: 0px 10px;
    }
    .gameInfo h1{
        font-size: 24px;
    }
    
}

.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #1a7bbb;
    transition: width 1s ease-in-out;
}